<div class="homepage-sidebar card shadow-sm border-0 mb-4">
    <div class="card-body p-4">
        <div class="browse-section mb-4">
            <h5 class="section-title"><i class="fas fa-search me-2"></i>{{ 'home.sidebar.browse' | translate }}</h5>
            <div class="sidebar-links mt-3">
                <a class="sidebar-link" href="/id/frc0001/1">
                    <span class="icon-wrapper"><i class="fas fa-folder text-frc-light-brown "></i></span>
                    <span class="link-text">{{ 'home.sidebar.collections' | translate }}</span>
                </a>
                <a class="sidebar-link" href="/browse/title">
                    <span class="icon-wrapper"><i class="fas fa-quote-right text-frc-light-brown "></i></span>
                    <span class="link-text">{{ 'home.sidebar.citations' | translate }}</span>
                </a>
                <a class="sidebar-link" href="/browse/coverage">
                    <span class="icon-wrapper"><i class="fas fa-gavel text-frc-light-brown "></i></span>
                    <span class="link-text">{{ 'home.sidebar.jurisdictions' | translate }}</span>
                </a>
                <a class="sidebar-link" href="/browse/subject">
                    <span class="icon-wrapper"><i class="fas fa-tags text-frc-light-brown "></i></span>
                    <span class="link-text">{{ 'home.sidebar.category' | translate }}</span>
                </a>
            </div>
        </div>

        <div class="account-section border-top pt-4">
            <h5 class="section-title"><i class="fas fa-user-circle me-2"></i>{{'home.sidebar.myAccount' | translate}}
            </h5>
            <div class="sidebar-links mt-3">
                <a class="sidebar-link" href="/login">
                    <span class="icon-wrapper"><i class="fas fa-sign-in-alt text-frc-light-brown "></i></span>
                    <span class="link-text">{{'home.sidebar.login' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
</div>