@if (showBackButton$ | async) {
<ds-results-back-button [back]="back"></ds-results-back-button>
}
@if (iiifEnabled) {
<div class="row">
    <div class="col-12">
        <ds-mirador-viewer id="iiif-viewer" [object]="object" [searchable]="iiifSearchEnabled"
            [query]="iiifQuery$ | async">
        </ds-mirador-viewer>
    </div>
</div>
}

<div class="">
    <ds-item-page-navbar [item]="object"></ds-item-page-navbar>
    <div class="d-flex flex-row py-2">
        <ds-item-page-title-field [item]="object" class="me-auto">
        </ds-item-page-title-field>
        <ds-dso-edit-menu></ds-dso-edit-menu>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8">
        <ds-frc-abstract-field [object]="object"></ds-frc-abstract-field>
        <ds-frc-summary [object]="object"></ds-frc-summary>
        <ds-frc-law-text [object]="object"></ds-frc-law-text>
        <ds-frc-generic-item-page-field [item]="object" [fields]="['dc.description']" [label]="'item.page.description'">
        </ds-frc-generic-item-page-field>

        <ds-frc-generic-item-page-field [item]="object" [fields]="['dc.subject']" [separator]="', '"
            [label]="'item.page.subject'">
        </ds-frc-generic-item-page-field>
        <ds-frc-generic-item-page-field [item]="object" [fields]="['dc.identifier.citation']"
            [label]="'item.page.citation'">
        </ds-frc-generic-item-page-field>
        <ds-item-page-uri-field [item]="object" [fields]="['dc.identifier.uri']" [label]="'item.page.uri'">
        </ds-item-page-uri-field>

        @if(object.hasMetadata(['dc.relation.isreferencedbyDuke','dc.relation.isreferencedbyHeinOnline',
        'dc.relation.isreferencedbyArchive', 'dc.relation.isreferencedbyGoogle',
        'dc.relation.isreferencedbyHathi', 'dc.relation.isreferencedbyGale', 'dc.relation.isreferencedbyAvalon',
        'dc.relation.isreferencedbyDelaware', 'dc.relation.isreferencedby'])){
        <div class="simple-view-element">
            <h5 class="simple-view-element-header ng-star-inserted">
                {{'item.page.referencedby' | translate}}
            </h5>
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyDuke']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyGoogle']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyHathi']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyGale']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyAvalon']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyDelaware']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyHeinOnline']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedbyArchive']" />
            <ds-item-page-uri-field [item]="object" [fields]="['dc.relation.isreferencedby']" />
        </div>

        }

        <ds-item-page-cc-license-field [item]="object" [variant]="'full'">
        </ds-item-page-cc-license-field>
        <ds-usage-statistics [object]="object"></ds-usage-statistics>
    </div>
    <div class="col-12 col-md-4 bg-light p-3" id="itemPageSidebar">
        @if (!(mediaViewer.image || mediaViewer.video)) {
        <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
            <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
        </ds-metadata-field-wrapper>
        }
        @if (mediaViewer.image || mediaViewer.video) {
        <div class="mb-3">
            <ds-media-viewer [item]="object"></ds-media-viewer>
        </div>
        }
        <ds-item-page-file-section [item]="object" />

        <ds-item-page-date-field [item]="object" />

        <!-- <ds-frc-generic-item-page-field [item]="object" [fields]="['dc.coverage.spatial']" [separator]="', '"
            [label]="'item.page.coverage'" /> -->

        @if (object.hasMetadata(['dc.coverage.spatial'])) {
        <div class="item-page-field mb-2">
            <div class="simple-view-element">
                <h4 class="simple-view-element-header">{{ "item.page.coverage" | translate }}</h4>
                @for (coverage of object.allMetadataValues(['dc.coverage.spatial']);
                track $index; let last = $last) {
                <a [routerLink]="['/browse/coverage']" [queryParams]="{ value: coverage }">{{ coverage }}</a>
                @if (!last) { <span class="separator"> </span> }
                }
            </div>
        </div>
        }

        <ds-metadata-representation-list class="ds-item-page-mixed-author-field" [parentItem]="object"
            [itemType]="'Person'" [metadataFields]="['dc.contributor.author', 'dc.creator']"
            [label]="'item.page.authors' | translate">
        </ds-metadata-representation-list>
        <ds-usage-metrics [item]="object"></ds-usage-metrics>
        <ds-item-page-collections [item]="object"></ds-item-page-collections>
        <div>
            <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button" role="button"
                tabindex="0">
                <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
            </a>
        </div>
    </div>
</div>