@if (reportsLoaded) {
<section class="simple-view-element mb-3">
    <h4 class="simple-view-element-header">Usage Metrics</h4>
    <div class="metrics-row d-flex justify-content-start gap-3">
        <div aria-hidden="false" class="metric text-center">
            <span class="metric-count badge bg-frc-light-brown text-white">
                {{ totalViews }}
            </span>
            <span class="metric-name d-block"> Views </span>
        </div>
        <div aria-hidden="false" class="metric text-center">
            <span class="metric-count badge bg-frc-light-brown text-white">
                {{ totalDownloads }}
            </span>
            <span class="metric-name d-block"> Downloads </span>
        </div>
    </div>
</section>
}