@if (getLocalizedLawText(); as lawtext) {
<div class="simple-view-element">
    <ds-truncatable [showToggle]="true" [id]="'lawtextOuter'">
        <h5 class="simple-view-element-header">{{ "item.page.lawtext" | translate }}</h5>
        <div class="justify-content-between mb-4 itempage-abstract">
            <ds-truncatable-part [minLines]="4" [id]="'lawtextOuter'">
                {{ lawtext }}
                <!-- <span class="dont-break-out">{{ lawtext }}</span> -->
            </ds-truncatable-part>
        </div>
    </ds-truncatable>
</div>
}